.highlight0 {
	background-color: #ffff33
}

.highlight1 {
	background-color: #00FF00
}

.highlight2 {
	background-color: #FF6600
}

.highlight3 {
	background-color: #CC3333
}

.highlight4 {
	background-color: #00CCCC
}

.highlight5 {
	background-color: #00CCFF
}

.highlight6 {
	background-color: #9933FF
}

.highlight7 {
	background-color: #FF00FF
}

.highlight8 {
	background-color: #3366FF
}