.highlight0 {
	background-color: #ffff33
}

.highlight1 {
	background-color: #00FF00
}

.highlight2 {
	background-color: #FFBB00
}

.highlight3 {
	background-color: #FFAAAA
}

.highlight4 {
	background-color: #00CCCC
}

.highlight5 {
	background-color: #00CCFF
}

.highlight6 {
	background-color: #AAAAFF
}

.highlight7 {
	background-color: #FFAAFF
}

.highlight8 {
	background-color: #BBBBFF
}